asgiref==3.9.2
boto3==1.40.50
botocore==1.40.50
certifi==2025.8.3
charset-normalizer==3.4.3
dj-database-url==3.0.1
Django==5.2.6
django-crontab==0.7.1
django-grappelli==4.0.2
django-jazzmin==3.0.1
django-storages==1.14.6
git-filter-repo==2.47.0
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
mailutils==0.0.2
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.5
s3transfer==0.14.0
sib-api-v3-sdk==7.6.0
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
whitenoise==6.11.0
