{% extends "base.html" %}}
{% load static %}
{% block extra_head %} 
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<!-- =============================
      PASSWORD RESET DONE
============================== -->
<section class="auth-container">
  <div class="auth-box">
    <h2 class="auth-title">Revisa tu correo</h2>
    <p class="auth-message">
      Te hemos enviado un enlace para restablecer tu contraseña.
      Si no lo ves, revisa tu carpeta de spam.
    </p>
    <div class="auth-footer">
      <a href="{% url 'login' %}" class="btn-main">Volver a iniciar sesión</a>
    </div>
  </div>
</section>
{% endblock %}
