{% extends "base.html" %}
{% load static %}
{% block extra_head %} 
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<section class="auth-container">
  <div class="auth-box">
    <h2 class="auth-title">Recuperar contraseña</h2>
    <form method="post" class="auth-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-main">Enviar enlace</button>
    </form>
    <div class="auth-footer">
      <p>¿Recordaste tu contraseña? <a href="{% url 'login' %}">Inicia sesión</a></p>
    </div>
  </div>
</section>
{% endblock %}
