{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<!-- ============================
      PASSWORD RESET CONFIRM
============================== -->
<section class="auth-container">
  <div class="auth-box">
    <h2 class="auth-title">Nueva contraseña</h2>
    <form method="post" class="auth-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-main">Restablecer</button>
    </form>
  </div>
</section>
{% endblock %}