{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Rifas de Motos</h1>
    <div class="row">
        {% for raffle in raffles %}
            <div class="col-md-4">
                <div class="card mb-3">
                    {% if raffle.motorcycle.images.first %}
                        <img src="{{ raffle.motorcycle.images.first.image.url }}" class="card-img-top" alt="Moto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ raffle.motorcycle.brand }} {{ raffle.motorcycle.model }}</h5>
                        <p>Precio boleta: ${{ raffle.ticket_price }}</p>
                        <p>Disponibles: {{ raffle.available_tickets }}</p>
                        <a href="{% url 'raffle_detail' raffle.id %}" class="btn btn-primary">Ver rifa</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No hay rifas disponibles en este momento.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
